button,
.button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	@include button();

	&.is-rounded {
		@include is-rounded();
	}

	&.is-white {
		background-color: $white;
		color: $black;

		&:hover {
			background-color: darken($white, 5%);
			color: lighten($black, 10%);
		}
	}

	&.is-black {
		background-color: $black;
		color: $green;

		&:hover {
			background-color: lighten($black, 10%);
			color: lighten($green, 5%);
		}
	}

	&.is-green {
		background-color: $green;
		color: $black;

		&:hover {
			background-color: darken($green, 5%);
			color: lighten($black, 10%);
		}
	}

	&.fab {
		@include is-rounded;
		width: 4rem;
		height: 4rem;
		padding: 0;
	}
}