button,
.button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	@include button();
	
	&:hover {
		transition: color .3s ease;
	}

	&.is-rounded {
		@include is-rounded();
	}

	&.is-white {
		background-color: $white;
		color: $black;

		&:hover {
			color: $green;
		}
	}

	&.is-black {
		background-color: $black;
		color: $green;

		&:hover {
			color: $white;
		}
	}

	&.is-green {
		background-color: $green;
		color: $black;

		&:hover {
			color: $white;
		}
	}

	&.fab {
		@include is-rounded;
		width: 4rem;
		height: 4rem;
		padding: 0;
	}
}