$tab-width: 3.5rem;
$tab-width-expanded: 4.5rem;
$body-padding: 1.5rem;

body.category-wissen {
	padding-right: 3*$tab-width + $body-padding;

	.main-navigation-overlay {
		height: $tab-width + 1.5rem;
		background-color: $color__wissen-background;
	}
}

body.category-denken {
	padding-left: 2*$tab-width + $body-padding;
	padding-right: $tab-width + $body-padding;

	.main-navigation {
		right: auto;
		left: 0;
	}

	.handeln_page {
		position: fixed;
		right: 0;
	}

	.main-navigation-overlay {
		height: 2*$tab-width;
		background-color: $color__denken-background;
	}
}

body.category-handeln {
	padding-left: 3*$tab-width + $body-padding;

	.main-navigation {
		right: auto;
		left: 0;
	}

	.main-navigation-overlay {
		height: 3*$tab-width;
		background-color: $color__handeln-background;
	}
}

.main-navigation-overlay {
	display: none;
	position: fixed;
	z-index: $z-index__main-navigation-overlay;
	width: 100%;
	top: 0;
	left: 0;
}

.main-navigation {
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	z-index: $z-index__tabs;


	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;
		display: flex;
	}

	a {
		display: block;
		text-decoration: none;
		writing-mode: vertical-rl;
		transform: rotate(180deg);
		height: 100vh;
		max-width: $tab-width;
		width: $tab-width-expanded;
		line-height: $tab-width;
		text-transform: uppercase;
		padding: 3rem 0;
		font-size: 1.75rem;
		transition: .2s ease;
	}

	@mixin category-page($background, $text) {
		transition: .3s ease;
		max-width: $tab-width;
		width: 100vw;
		background-color: $background;

		&.is-expanded, &.is-expanded:hover {
			max-width: calc(100vw - #{2*$tab-width});
		}

		&:hover {
			max-width: $tab-width-expanded;
			a {
				max-width: $tab-width-expanded;
			}
		}

		&.current_page_item {
			background-color: transparent;
			max-width: $tab-width;
			a {
				max-width: $tab-width;
			}
		}

		a {
			color: $text;
			&:hover {
				color: $text;
			}
		}
	}

	.wissen_page {
		display: flex;
		justify-content: flex-end;
		@include category-page($color__wissen-background, $color__wissen-text);
		a {
			display: flex;
			align-items: flex-end;
		}
	}
	.denken_page {
		@include category-page($color__denken-background, $color__denken-text);
	}
	.handeln_page {
		@include category-page($color__handeln-background, $color__handeln-text);
	}
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: none;
}

@media screen and (max-width: 37.5em) {
	.main-navigation-overlay {
		display: initial;
	}
	
	body.category-wissen {
		padding: ($tab-width + 1.5rem) 2rem (2*$tab-width + 1.5rem);

		.wissen_page {
			padding-top: 1.5rem;
		}

		.denken_page {
			position: fixed;
			bottom: $tab-width;
		}

		.handeln_page {
			position: fixed;
			bottom: 0;
		}
	}

	body.category-denken {
		padding: 2*$tab-width 2rem ($tab-width + 1.5rem);

		.handeln_page {
			bottom: 0;
		}
	}

	body.category-handeln {
		padding: 3*$tab-width 2rem 2rem;
	}

	.main-navigation{
		left: 0;
		bottom: auto;

		ul {
			flex-direction: column;
		}

		.wissen_page, .denken_page, .handeln_page {
			max-width: none;
			&:hover {
				max-width: none;
			}

			max-height: $tab-width;
			height: 100vh;


			&.is-expanded, &.is-expanded:hover {
				width: 100vw;
				max-width: none;
				max-height: calc(100vh - #{2*$tab-width});
			}
		}

		.wissen_page {
			display: block;
		}

		a {
			height: $tab-width;
			writing-mode: initial;
			transform: none;
			max-width: none !important;
			width: 100%;
			position: absolute;
			padding: 0 1rem 0 2rem;
		}
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}
