


#global-fab {
    position: fixed;
    top: 10rem;
    left: 1.5rem;
    z-index: $z-index__global-fab;

    button {
        cursor: pointer;
    }

    .canvas {
        transition: transform .3s ease;
        transform-origin: 50% 50%;
    }

    .search-appendum {
        transform-origin: 50% 50%;
        transition: transform .3s ease;
        transform: scale(0);

        &.is-visible {
            transform: none;
        }
    }
}

@mixin global-fab-position($top, $left, $right) {
    #global-fab {
        top: $top;
        left: $left;
        right: $right;
    }
}

@mixin global-fab-color($fill, $background) {
    #global-fab {
        .the-button {
            background-color: $background;
        }

        path {
            fill: $fill;
        }
    }
}

body.category-wissen {
    @include global-fab-position(10rem, 2rem, initial);
    @include global-fab-color($white, $green);
}

body.category-denken {
    @include global-fab-position(10rem, initial, 1.5rem);
    @include global-fab-color($green, $black);
}

body.category-handeln {
    @include global-fab-position(10rem, initial, 2rem);
    @include global-fab-color($green, $white);
}

@include mobile() {
    #global-fab {
        .the-button {
            width: 3.5rem;
            height: 3.5rem;
        }
    }

    body.category-wissen {
        @include global-fab-position(9.25rem, initial, .25rem);
    }
    
    body.category-denken {
        @include global-fab-position(9.25rem, initial, .25rem);
    }
    
    body.category-handeln {
        @include global-fab-position(9.25rem, initial, .25rem);
    }
}