

$global-fab-size: 4rem;

#global-fab {
    position: fixed;
    top: 10rem;
    left: 1.5rem;
    z-index: $z-index__global-fab;
    transition: left .3s ease;

    .the-button {
        transition: background-color .3s ease;
    }
    path {
        transition: fill .3s ease;
    }

    button {
        cursor: pointer;
    }

    .canvas {
        transition: transform .3s ease;
        transform-origin: 50% 50%;
    }

    .search-appendum {
        transform-origin: 50% 50%;
        transition: transform .3s ease;
        transform: scale(0);

        &.is-visible {
            transform: none;
        }
    }
}

@mixin global-fab-position($top, $left, $right) {
    #global-fab {
        top: $top;
        left: $left;
        right: $right;
    }
}

@mixin global-fab-color($fill, $background) {
    #global-fab {
        .the-button {
            background-color: $background;
        }

        path {
            fill: $fill;
        }
    }
}

@mixin global-fab-wissen {
    @include global-fab-position(10rem, 2rem, initial);
    @include global-fab-color($white, $green);
}

@mixin global-fab-denken {
    @include global-fab-position(10rem, calc(100vw - #{$global-fab-size + 1.5rem}), initial);
    @include global-fab-color($green, $black);
}

@mixin global-fab-handeln {
    @include global-fab-position(10rem, calc(100vw - #{$global-fab-size + 2rem}), initial);
    @include global-fab-color($green, $white);
}

@mixin global-fab-reset {
    #global-fab {
        transition: .3s ease;
        transform: none !important;
    }
}

body.category-wissen {
    @include global-fab-wissen;
    &.to-denken {
        @include global-fab-denken;
        @include global-fab-reset;
    }
    &.to-handeln {
        @include global-fab-handeln;
        @include global-fab-reset;
    }
}

body.category-denken {
    @include global-fab-denken;
    &.to-wissen {
        @include global-fab-wissen;
        @include global-fab-reset;
    }
    &.to-handeln {
        @include global-fab-handeln;
        @include global-fab-reset;
    }
}

body.category-handeln {
    @include global-fab-handeln;
    &.to-wissen {
        @include global-fab-wissen;
        @include global-fab-reset;
    }
    &.to-denken {
        @include global-fab-denken;
        @include global-fab-reset;
    }
}

@include mobile() {
    #global-fab {
        .the-button {
            width: 3.5rem;
            height: 3.5rem;
        }
    }

    body.category-wissen {
        @include global-fab-position(9.25rem, initial, .25rem);
    }
    
    body.category-denken {
        @include global-fab-position(9.25rem, initial, .25rem);
    }
    
    body.category-handeln {
        @include global-fab-position(9.25rem, initial, .25rem);
    }
}