
.category-wissen .text-border {
    bottom: auto;
    top: 0;

    svg {
        bottom: auto;
        top: 0;
    }
}

.text-border {
    width: 0;
    height: 0;
    height: 100vh;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: $z-index__text-border;

    svg {
        position: fixed;
        bottom: 0;
        width: 100vw;
        height: 100vh;
        pointer-events: none;

        text {
            font-size: 4px;
            letter-spacing: .08em;
            word-spacing: .2em;
            font-weight: 500;
        }

        .agn-arbeitsgruppe {
            x: 50%;
            y: 50%;
        }
    }

    .border {
        position: fixed;
        z-index: -1;
    }

    .link {
        position: fixed;
        display: block;
    }

    .border-top, .link-top {
        top: 0;
        left: 0;
        width: 100vw;
        height: 2rem;
    }

    .border-bottom, .link-bottom {
        bottom: 0;
        left: 0;
        width: 100vw;
        height: 2rem;
    }

    .border-left, .link-left {
        top: 0;
        left: 0;
        height: 100vh;
        width: 2rem;
    }

    .border-right, .link-right {
        top: 0;
        right: 0;
        height: 100vh;
        width: 2rem;
    }
}