
body {
    @mixin set-colors($background, $link, $link-hover, $active-background, $active-color) {
        // .wordcloud {
        //     .is-small {
        //         color: $link;
        //         &:hover {
        //             color: $link-hover;
        //         }
        //     }
        // }
        .wordcloud svg {
            rect {
                fill: $background;
                &.is-active {
                    fill: $active-background;
                }
            }

            text {
                color: $link;
                &:hover {
                    color: $link-hover;
                }
                &.is-active {
                    color: $active-color;
                }
            }
        }
    }
    
    &.category-wissen {
        @include set-colors($black, $green, darken($green, 10%), $white, $black);
    }
    &.category-denken {
        @include set-colors($white, $black, lighten($black, 10%), $black, $green);
    }
    &.category-handeln {
        @include set-colors($green, $black, lighten($black, 10%), $white, $black);
    }
}

.wordcloud {
    svg text {
        cursor: pointer;
    }
}