

$body__padding-top: 7.25rem;
$body__padding-left: 2rem;
$body__padding-right: 2rem;
$body__padding-bottom: 4rem;
$body__mobile-padding-top: 2rem;

$nav__tab-width: 3.5rem;

$global-fab-width: 4rem;
