$z-index__global-fab: 140;
$z-index__search-icon: 120;
$z-index__main-navigation: 110;
$z-index__navigation-tabs: 110;
$z-index__loading-screen: 101;
$z-index__text-border: 100;
$z-index__search-popup: 90;
$z-index__main-navigation-overlay: 80;