

body.category-denken {
    @include set-color-scheme(
        $color__denken-background,
        $color__denken-text,
        $color__denken-link,
        $color__denken-link-hover
    );

    .wordcloud {
        width: 100%;
        height: calc(100vh - 6rem);
    }
}

.denken__posts-container {
    width: 100%;
    margin-bottom: 2rem;

    .post {
        border: 2px solid $black;
        padding: 1rem;
        margin: 0;
    }
}