
$wordcloud-height: calc(100vh - 2rem);

body.category-denken {
    padding-top: 2rem;

    @include set-color-scheme(
        $color__denken-background,
        $color__denken-navigation,
        $color__denken-text,
        $color__denken-link,
        $color__denken-link-hover
    );

    .wordcloud {
        width: 100%;
        position: fixed !important;
        top: 1rem;
        z-index: 0;
        height: $wordcloud-height;
        padding-bottom: 2rem;

        a {
            color: $black;
            &:hover {
                color: lighten($black, 20%);
            }
        }
    }
}

.denken__posts-container {
    width: 100%;
    margin-bottom: 2rem;
    margin-top: $wordcloud-height;
    background-color: $color__denken-background;
    position: relative;
    z-index: 1;

    a.topic {
        position: relative;
        display: block;
        color: inherit !important;
        text-decoration: inherit;
        &:hover {
            color: inherit !important;
        }

        .bbp-topic-header {
            background-color: $green;
            padding: .75rem 1rem;
            text-transform: uppercase;

            .bbp-topic-author {
                font-size: .875rem;
            }

            .bbp-topic-title {
                margin: 0;
                margin-top: .5rem;
            }
        }

        .bbp-topic-description {
            padding: 1rem;
        }
    }

    .bbp-form {
        padding: 1rem;
    }

    > *:not(.no-results) {
        @include rounded-border($green);
        margin: 0;
    }
}

.bbp-form {
    position: relative;
    border: none;
    padding: 0;
    margin: 0;

    .wp-editor-container {
        border: none;
    }

    .mce-top-part:before {
        box-shadow: none;
    }

    .mce-toolbar-grp {
        // border: none;
        border-bottom: 2px solid darken(white, 10%);
        background: none;
    }

    .mce-statusbar {
        border-top: 2px solid darken(white, 10%) !important;
    }

    .mce-statusbar > .mce-container-body {
        display: none;
    }

    input {
        border: none;
        width: 100%;

        &:focus {
            outline: none;
        }
    }

    #bbp_topic_title {
        font-size: 1.5rem;
        font-weight: bold;
        text-transform: uppercase;
    }

    p {
        margin-bottom: 0;
    }
}

.denken__post {
    @include rounded-border($green);

    > * {
        padding: 1rem;
    }
}

.denken__post-header {
    background-color: $green;

    p {
        color: $white;
    }

    h1 {
        font-size: 1.5rem;
        margin: 0;
    }
}

.denken__post-replies {
    list-style: none;
    margin: 0;
    padding: 0;

    p {
        display: inline;
    }

    .denken__reply {
        margin-bottom: .75rem;
    }

    .denken__reply-meta {
        font-weight: bold;
    }

    .denken__reply:first-child {
        font-size: 1.25rem;
        .denken__reply-meta {
            display: none;
        }
    }

    .denken__reply:not(:first-child) {
        color: $green;
    }
}

.denken__reply-meta, .denken__post-header p {
    text-transform: uppercase;
    font-size: .875rem;
    margin: 0;
}