

body.category-denken {
    background-color: $color__denken-background;
    color: $color__denken-text;

    a {
        color: $color__denken-link;
        &:hover {
            color: $color__denken-link-hover;
        }
    }

    .text-border {
        &:before, &:after {
            background-color: $color__denken-background;
        }
        svg text {
            fill: $color__denken-text;
        }
    }

    .loading-screen {
        background-color: $color__denken-background;
    }

    .wordcloud {
        width: 100%;
        height: calc(100vh - 6rem);
        > * {
            text-transform: uppercase;
            text-decoration: none;
        }
        .is-small {
            color: $color__wissen-link;
            &:hover {
                color: $color__wissen-link-hover;
            }
        }
    }
}

.denken__posts-container {
    width: 100%;
    margin-bottom: 2rem;

    .post {
        border: 2px solid $black;
        padding: 1rem;
        margin: 0;
    }
}