
body.category-handeln {
    @include set-color-scheme(
        $color__handeln-background,
        $color__handeln-navigation,
        $color__handeln-text,
        $color__handeln-link,
        $color__handeln-link-hover
    );

    .no-results {
        padding-top: 5rem;
    }
}

.category-handeln {
    .site-main > hr {
        margin-top: -.25rem;
    }
}

.post.category-handeln {
    display: flex;
    justify-content: space-between;

    .header-container {
        position: relative;
        flex: 1 0 40%;
    }

    .entry-header {
        position: sticky;
        top: 5rem;
        z-index: 1;
        padding-right: 2rem;

        .entry-title > * {
            margin: 0;
            color: $green;
            background-color: $black;
            width: fit-content;
            padding: 0 .5rem;
            text-transform: none;
            font-weight: normal;
            font-size: 1.25rem;
            white-space: nowrap;
        }

        .actions {
            display: flex;
            flex-direction: column;
            padding-top: 2rem;

            .action {
                display: flex;
                align-items: center;

                &:not(:first-child) {
                    margin-top: 1rem;
                }

                &.has-plus {
                    padding: .5rem .75rem .5rem 2rem;

                    &:before, &:after {
                        content: '';
                        position: absolute;
                        width: 3px;
                        border-radius: 3px;
                        height: 1rem;
                        background-color: $black;
                        left: 1rem;
                    }
    
                    &:before {
                        transform: rotate(90deg);
                    }
                }

            }
        }
    }

    .entry-content {

        :first-child {
            margin-top: 0;
        }
    }
}

@include mobile() {
    .post.category-handeln {
        flex-direction: column;
    }
}

body.category-handeln .posts-container .post {
    margin: 0;
    overflow: hidden;
    position: relative;
    padding-bottom: 75%;

    .entry-header {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;

        > * {
            margin: 0;
            color: $green;
            background-color: $black;
            width: fit-content;
            padding: 0 .5rem;
            text-transform: none;
            font-weight: normal;
            font-size: 1.25rem;
        }
    }

    img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }

    .thumb img { 
        position: absolute;
        filter: grayscale(100%);
    }

    .schraffur{
        position: absolute;
        margin: -1px;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        transition: opacity 0.3s;
    }


    &:hover {
        .schraffur{
            opacity: 0;
        }
    }
}

body.category-handeln .posts-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    gap: 1rem;
    margin-bottom: 2rem;   
}