// @import "../layout/content-sidebar";
// @import "../layout/sidebar-content";

/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
@import "primary/posts-and-pages";

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
@import "primary/comments";


.site-branding {
    display: none;
}

.site-content {
    position: relative;
}

.posts-container {
    padding-top: .5rem;
}

.site-main .page-title, .site-main .entry-title {
    margin-top: 0;
}