

body.category-wissen {
    background-color: $color__wissen-background;
    color: $color__wissen-text;

    a {
        color: $color__wissen-link;
        &:hover {
            color: $color__wissen-link-hover;
        }
    }

    .loading-screen {
        background-color: $color__wissen-background;
    }

    .wissen__entry-header {
        display: grid;
        align-items: center;
        grid-template-columns: repeat(4, auto);
        gap: .5rem;
    }

    .text-border {
        &:before, &:after {
            background-color: $color__wissen-background;
        }
        svg text {
            fill: $color__wissen-text;
        }
    }
}