

body.category-wissen {
    @include set-color-scheme(
        $color__wissen-background,
        $color__wissen-text,
        $color__wissen-link,
        $color__wissen-link-hover
    );

    .wissen__entry-header {
        display: grid;
        align-items: center;
        grid-template-columns: repeat(4, auto);
        gap: .5rem;
    }
}