// Rem output with px fallback
@mixin font-size($sizeValue: 1) {
	font-size: ($sizeValue * 16) * 1px;
	font-size: $sizeValue * 1rem;
}

@mixin button {
	display: inline-block;
	width: fit-content;
	padding: .5rem .75rem;

	border: none;
	outline: none;
	border-radius: 0;
	
	font-size: 1rem;
	line-height: 1;
	text-decoration: none;
	
	background-color: $color__background-button;

	&:hover {
		border-color: $color__border-button-hover;
	}

	&:active,
	&:focus {
		border-color: $color__border-button-focus;
	}
}

@mixin is-rounded {
	border-radius: 1000rem;
}

@mixin rounded-border($color, $radius: 1rem) {
	border: .25rem solid $color;
	border-radius: $radius;
}

// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

// Clearfix
@mixin clearfix() {
	content: "";
	display: table;
	table-layout: fixed;
}

// Clear after (not all clearfix need this also)
@mixin clearfix-after() {
	clear: both;
}

// Column width with margin
@mixin column-width($numberColumns: 3) {
	width: map-get( $columns, $numberColumns ) - ( ( $columns__margin * ( $numberColumns - 1 ) ) / $numberColumns );
}

@mixin mobile() {
	@media screen and (max-width: 37.5em) {
		@content;
	}
}

@mixin stripes($color, $size: 1rem){
	background: repeating-linear-gradient(135deg, rgba($color,1) 0, rgba($color,1) 0.5*$size, rgba($color,0) 0.5*$size, rgba($color,0) $size);
}

@mixin set-color-scheme($background, $navigation, $text, $link, $link-hover) {
	background-color: $background;
	color: $text;
	
	.main-navigation, .search-popup {
		color: $navigation;
	}

    a {
        color: $link;
        &:hover {
            color: $link-hover;
        }
    }

    .text-border {
        .border {
            background-color: $background;
        }
        svg text {
            fill: $navigation;
        }
    }

    .loading-screen {
        background-color: $background;
	}
	
	.search-popup__header {
		border-color: $navigation;
	}
}